[submodule "src/g1_description"]
	path = src/g1_description
	url = https://github.com/thdhyan/g1_description.git
[submodule "src/livox_laser_simulation_RO2"]
	path = src/livox_laser_simulation_RO2
	url = https://github.com/M2labo/livox_laser_simulation_RO2.git
[submodule "src/Ultra-Fusion"]
	path = src/Ultra-Fusion
	url = https://github.com/sjtuyinjie/Ultra-Fusion.git
[submodule "src/plain_slam_ros2"]
	path = src/plain_slam_ros2
	url = https://github.com/thdhyan/plain_slam_ros2.git
[submodule "isaac_ros_ws/src/isaac_ros_common"]
	path = isaac_ros_ws/src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
[submodule "isaac_ros_ws/src/isaac_ros_visual_slam"]
	path = isaac_ros_ws/src/isaac_ros_visual_slam
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_visual_slam.git
[submodule "isaac_ros_ws/src/isaac_ros_nvblox"]
	path = isaac_ros_ws/src/isaac_ros_nvblox
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nvblox.git
[submodule "isaac_ros_ws/src/isaac_ros_image_segmentation"]
	path = isaac_ros_ws/src/isaac_ros_image_segmentation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_image_segmentation.git
[submodule "isaac_ros_ws/src/isaac_ros_nitros"]
	path = isaac_ros_ws/src/isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros.git
[submodule "LiDAR-HMR"]
	path = LiDAR-HMR
	url = https://github.com/soullessrobot/LiDAR-HMR.git
